*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    height: 100vh;
    width: 100%;
    background: linear-gradient(135deg , #153677 ,#4e085f);
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 500px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 80px;
    border-radius: 1rem;
}
.todo-app h2{
    display: flex;
    align-items: center;
    color: #002765;
    margin-bottom: 20px;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;

}
input{
    flex: 1;
    outline: none;
    border: none;
    background: transparent;
    padding: 10px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color:  #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4rem;
}
ul li{
    list-style-type: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(radio.png);
    background-size: cover;
    background-position: center;
    top: 10px;
    left: 8px;
}
ul li.chacked{
    /* color: #fff; */
    text-decoration: line-through;
}
ul li.chacked::before{
    background-image: url(./kindpng_791926\ \(1\).png);

}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    /* color: #fff;  */
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #b8c0d0;

}